@import url('https://use.fontawesome.com/releases/v5.7.0/css/all.css');

$max-width: 1024px;
$card-width: 340px;
$card-margin-right: 10px;
$font-family-text: 'Helvetica Neue';
$white: #ffffff;
$black: #000000;
$blue: #215398;
$light-blue: #28a6dd;
$gray: #f5f5f5;

@mixin strip($color) {
  background-color: $color;
  position: relative;
  &:before {
    z-index: -9999;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -9999px;
    right: 0;
    border-left: 9999px solid $color;
    box-shadow: 9999px 0 0 $color;
  }
}

@mixin padding-container($space) {
  padding: $space $space $space $space;
}

%flex-column-wrap {
  display: flex;
  flex-flow: column wrap;
}

html,
body {
  margin: 0px;
  font-family: $font-family-text;
}

.card-container {
  padding-top: 15px;
  .card {
    @include padding-container(10px);
    box-sizing: border-box;
    width: $card-width;
    margin-right: $card-margin-right;
    background-color: $white;
    color: $black;
    margin-bottom: 15px;
    img {
      max-width: 25%;
    }
  }
}

.flex-container {
  @extend %flex-column-wrap;
  max-width: $max-width;
  margin: 0 auto;
  text-align: center;
}

.navbar {
  @include padding-container(15px);
  display: flex;
  align-items: center;
  height: 80px;
  .logo {
    height: 50px;
  }
}

.section-one {
  @extend %flex-column-wrap;
  @include strip($blue);
  @include padding-container(15px);
  color: $white;
  background-color: $blue;
  .carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    .card-container {
      display: flex;
      overflow: hidden;
      padding-right: $card-margin-right;
      .card {
        @media (max-width: 576px) {
          flex: 1 0 100%;
          width: $card-width / 33;
        }
        // ie11 hook for carousel
        @media screen and (-ms-high-contrast: active),
          (-ms-high-contrast: none) {
          flex: 1 0 25%;
          min-width: $card-width - $card-margin-right;
        }
        flex: 1 0 33%;
        width: $card-width / 3;
        order: 2;
      }
      .first {
        order: 1;
      }
    }
    .arrow {
      font-size: 50px;
      color: $light-blue;
      cursor: pointer;
    }
    .prev {
      // ie11 hook for carousel
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        margin-left: -50px;
      }
      margin-right: 10px;
    }
    .next {
      // ie11 hook for carousel
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        margin-right: -50px;
      }
      margin-left: 10px;
    }
  }
}

.section-two {
  @extend %flex-column-wrap;
  @include strip($gray);
  @include padding-container(15px);
  .card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    // ie11 hook for `row wrap` issue
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      flex-flow: row nowrap;
    }
  }
}
